.heading{
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}
.result{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
.bg{
    background-color: rgb(221, 157, 38);
}
.card{
    width: 20%;
    margin: 0% auto;
}