.heading{
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}
.result{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}
.bg{
    background-color: rgb(224, 186, 12);
}
.card{
    width: 20%;
    margin: 0% auto;
}
.span{
    color: black;
}
.spiner{
    margin: 0% auto;
    color: blue;
    font-weight: bold;
}